@import "../utils/variables";
@import "../utils/mixins";

@mixin nav-position($pos: left) {
  @if ($pos == "left") {
    left: 0;
  }
  position: fixed;
  top: 0;
}

.nav {
  @include nav-position(left); // Let's start with nav on the left side
  background: $navbar-bg;
  color: $navbar-text-color;
  height: 100vh;
  width: $navbar-width;
  @include transition();
}

.nav.open {
  width: $navbar-width-open;
}
