.nav-header-container {
  cursor: pointer;
  width: 100%;
  height: 2rem;
  padding-top: 0.5rem;
}

.nav-header {
  position: relative;
  width: 1.6rem;
  height: 0.1rem;
  background-color: #fff;
  transition: all 0.15s ease-in-out;
}

.nav-header::before,
.nav-header::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1.6rem;
  height: 0.1rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.15s;
}

.nav-header::before {
  transform-origin: top center;
  top: -0.5rem;
}

.nav-header::after {
  top: 0.5rem;
}

.nav-header.open {
  background-color: #261c2c;
}

.nav-header.open::before {
  transform: translateY(0.55rem) rotate(135deg);
}

.nav-header.open::after {
  transform: translateY(-0.55rem) rotate(-135deg);
}
