@import "../utils/mixins";

.nav-items {
  text-align: center;
  height: calc(100% - 14rem);
  @include pos(absolute, 4rem, null, null, 1.25rem);
}

.nav-item {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 0;

  &:hover &__hover {
    transform: translateY(-50%);
    opacity: 1;
  }

  &__text {
    opacity: 0;
    transform: translate(2rem, -50%);
    @include transition();
    @include pos(absolute, 50%, null, null, 2rem);
  }

  &__hover {
    transform: translateY(-100%);
    padding: 0.5rem 0.75rem;
    background-color: #efefef;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    @include pos(absolute, 50%, null, null, calc(100% + 2rem));
    @include transition();
  }
}

.nav-items.open {
  .nav-item__text {
    opacity: 1;
    transform: translate(0.25rem, -50%);
  }
  .nav-item__hover {
    display: none;
  }
}
